<%= render 'books/list', book: Book.new %>

<h1>Books</h1>
<th></th>
<th>Title</th>
<th>Opinion</th>

<% @books.each do |book| %>
<div>
  <%= link_to user_path(@user.id) do %>
  <%= image_tag book.user.get_profile_image(100,100) %>
  <% end %>
  
  <%= link_to book_path(@user.id) do %>
  <%= book.title%>
  <% end %>
  
  <%= book.body %>
</div>
<% end %>